.content {
  grid-area: c;
  background-color: cornflowerblue;
}

.item {
  color: green;
}

.postBlock {
  padding: 10px;
  color: #0206f7;
}

.addpost {
  background-color: #0206f7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
