.nav {
  grid-area: n;
  background-color: gray;
  padding: 20px;
  font-size: 20px;
}

.item a {
  color: rgb(2, 2, 2);
  text-decoration: none;
}

.item a.activeLink {
  color: gold;
}

.friends a {
  display: grid;
  color: rgb(3, 206, 13);
  text-decoration: none;
  border: 3px solid rgb(248, 85, 85);
  justify-content: center;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}
