.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems a {
  color: green;
  text-decoration: none;
}

.dialogsItems .activeLink {
  color: gold;
  text-decoration: none;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messages {
  padding: 10px;
}

.messages .message {
}
